# Ignore Directories:
.vscode/
.pylint.d/
__pychace__/
*.vtu
Usurped/
docs/source/modules.rst
docs/make.bat
docs/Makefile
docs/source/conf.py
docs/source/index.rst
docs/source/Mesh.rst
__pycache__/TetGen.cpython-38.pyc
__pycache__/solid2surface.cpython-38.pyc
__pycache__/Raysidk.cpython-38.pyc
__pycache__/Rays.cpython-38.pyc
__pycache__/Quality.cpython-38.pyc
__pycache__/parseSTL.cpython-38.pyc
__pycache__/parseINP.cpython-38.pyc
__pycache__/parseAnsys.cpython-38.pyc
__pycache__/Octree.cpython-38.pyc
__pycache__/MeshUtils.cpython-38.pyc
__pycache__/mesh_properties.cpython-38.pyc
__pycache__/mesh.cpython-38.pyc
__pycache__/MarchingCubes2.cpython-38.pyc
__pycache__/MarchingCubes.cpython-38.pyc
__pycache__/Improvement.cpython-38.pyc
__pycache__/implicitMeshGen.cpython-38.pyc
__pycache__/ImplicitMesh.cpython-38.pyc
__pycache__/hexMesh.cpython-38.pyc
__pycache__/delaunay.cpython-38.pyc
__pycache__/curvature.cpython-38.pyc
__pycache__/CSG_2.cpython-38.pyc
__pycache__/CSG.cpython-38.pyc
__pycache__/converter.cpython-38.pyc
__pycache__/_tetgen.cpython-38.pyc
__pycache__/__init__.cpython-38.pyc
docs/build/_sources/modules.rst.txt
docs/build/_sources/Mesh.rst.txt
docs/build/_sources/index.rst.txt
__pycache__/Primitives.cpython-38.pyc
